.contentBtn {
    width: 250px;
}

.listBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}

.linkBtn {
    background-color: transparent;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid var(--collor-blue);
    color: var(--collor-blue);
    text-decoration: none;
    font-size: 17px;
    transition: color 0.4s ease;
    position: relative;
}

.linkBtn:hover {
    background-color: var(--collor-grandient-blue);
    color: var(--collor-white);
}
