.Header {
    width: 100%;
    height: auto;
    min-height: 80px; 
    padding: 0px 4%;
    position: fixed;
    z-index: 999;
    top: 0%;
    background: linear-gradient(135deg, #0a0a0a 0%, #363636 100%);

    .contentHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}