.boxTitle {
  width: 100%;
  padding: 80px 0px;

  .dimensionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleInform {
    font-size: 2rem;
    font-weight: 400;
    
  }
}